@import "tailwindcss";

@theme {
  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
  --color-yellow: #FFC108;
  --color-gray: #F7F4ED;
  --nav-height: 70px;
  --nav-height-for-padding: 80px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*Website Horizontal Padding*/
.h-padding{
  @apply md:px-[80px] px-[20px];
}

.h-margin-left{
  @apply md:ml-[80px] ml-[20px];
}

/* Website Header Nav */
.nav-height{
  height: var(--nav-height);
  transition: background 0.2s;
}

.padding-top-nav{
  padding-top: var(--nav-height-for-padding);
}

.padding-bottom-nav{
  padding-bottom: var(--nav-height-for-padding);
}

.is-sticky{
  background: var(--color-gray);
}

/*Website Nav Menu Button*/
.header-button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-yellow);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-burger{
  width: 100%;
}

.header-burger::before,
.header-burger::after{
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.header-burger::before{
  top: 5px;
}

.header-burger::after{
  top: -5px;
}

.header-burgerActive{

}

.header-burgerActive::before{
  transform: rotate(-45deg);
  top: 0;
}

.header-burgerActive::after{
  transform: rotate(45deg);
  top: -1px;
}

/*Mobile Nav Menu*/

.nav-menu{
  height: 100vh;
  background-color: #000;
  position: fixed;
  right: 0;
  top: 0;
  color: white;
}

.nav-body{
  box-sizing: border-box;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-nav{
  display: flex;
  flex-direction: column;
  font-size: 56px;
  gap: 12px;
  margin-top: 20px;
}

.nav-header{
  color: rgb(153, 153, 153);
  border-bottom: 1px solid rgb(153, 153, 153);
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 40px;
}

.link{
  position: relative;
  display: flex;
  align-items: center;
}

.link-indicator{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -30px;
}


.footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  gap: 40px;
}

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: rgb(41, 41, 41);
  stroke: none;
}

/*Rotating Words */
.rotating-word:nth-of-type(2n-1){
  color: var(--color-yellow);
}

/* Inputs */
input, textarea{
  outline: none;
}

textarea{
  overflow: auto;
}